<% provide(:title, "About") %>
	<h1>About Me</h1>
	<div class= "jumbotron about-me">
	<p>
		
		Welcome to my website! My name is Brandon Stevens. I earned a Bachelor’s Degree in Corporate Communications from Pennsylvania State University. Like many millennials, I have benefited greatly from technology, however I gained a whole new level of appreciation after peeking behind the scenes. I was fortunate to discover the power of coding early in my career when a colleague of mine automated a repetitive task by using a few lines of code; from that moment on my whole life changed. I became obsessed with coding and began to shout about the endless possibilities to anyone who would listen. I truly believe learning to code can be life changing. I often find myself analyzing life situations from a developmental perspective, which I find to be very beneficial in many circumstances. I believe web developers in the 21st century are the equivalent of gold prospectors during the gold rush of 1849. Coding allows for anyone to create, deploy, and share any idea imaginable to the whole world.    
    </p>
    </div>


