<% provide(:title, "Home") %>

	<div class="center jumbotron">
	
	<img class="img-circle" src="https://secure.gravatar.com/avatar/49ecd4a2f3719e6b0fedca125d734cfc">
	<h1 style="color:white">Brandon Stevens</h1>


	<a href="https://github.com/BrandonRails" class="btn btn-lg btn-secondary">Github</a> 

	<a class="btn btn-lg btn-secondary" href="https://www.linkedin.com/in/brandonstevens1">Linkedin</a> 

	<a class="btn btn-lg btn-secondary" href="/assets/brs.pdf">Resume</a>
	
	</div>

	<p class="home">
		Now available for full time employment opportunities! 
	</p>

