<div class="center jumbotron">
<% provide(:title, "Home") %>
<img class="img-circle" src="https://secure.gravatar.com/avatar/49ecd4a2f3719e6b0fedca125d734cfc">
<h1 style="color:white">Brandon Rails</h1>
<p style="color:white">
	Now available for employment opportunities! 
</p>

<a href="https://github.com/BrandonRails" class="btn btn-lg btn-primary">Github</a> 

<a class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/brandonstevens1">Linkedin</a> 
</div>
